src/main/webapp/metadata/metadata-1.0.0.xsd

<xs:schema targetNamespace="http://www.hikvison.com/metadata/1.0.0"
	xmlns="http://www.hikvison.com/metadata/1.0.0" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="note">
   <xs:complexType>
     <xs:sequence>
       <xs:element name="to" type="xs:string"/>
       <xs:element name="from" type="xs:string"/>
       <xs:element name="heading" type="xs:string"/>
       <xs:element name="body" type="xs:string"/>
     </xs:sequence>
   </xs:complexType>
 </xs:element>

 </xs:schema> 
</xs:schema>